.card {
  background-color: var(--container-bg-transparent);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0.5rem;
  border: 1px solid rgba(58, 58, 58, 0.18);
  padding: 2rem;
}