.percent {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-color);
  border-radius: 6px;
  padding: 4px 6px;
  background-color: #282c33;
}

.positive {
  color: #00d800
}

.negative {
  color: #ff0000;
}