.banner {
  visibility: hidden;
  color: white;
  padding: 1.5rem;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
  transition: all ease-in-out 300ms;
}

.normal {
  visibility: visible;
  background-color: #00a329;
}

.error {
  visibility: visible;
  background-color: #fb4934;
}

.show {
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-down 300ms ease-out;
}

.close {
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-out 300ms ease-out;
}

.message {
  font-size: 18px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    top: -5rem;
  }

  to {
    opacity: 1;
    top: 3rem;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    top: 3rem;
  }

  to {
    opacity: 0;
    top: -5rem;
  }
}