.portfolio {
  margin: 180px auto 0 auto;
  width: 80%;
  max-width: 1600px;
  background-color: var(--container-bg-transparent);
  color: var(--text-color);
}

.title {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.transactions-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.transactions-info-wrapper h4 {
  font-weight: 300;
}

.info-box {
  background-color: var(--container-bg);
  border-radius: 0.5rem;
  padding: 1rem;
}

.info-box p {
  font-weight: 600;
}

.add-btn {
  color: var(--text-color);
}

.powered-by {
  text-align: right;
  margin: 0.4rem;
  color: var(--text-color);
}

.no-transactions-message {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .portfolio {
    margin-top: 38px;
    width: 90%;
  }
}

@media screen and (max-width: 672px) {
  .portfolio {
    padding: 18px;
    width: 100%;
  }

  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .transactions-info-wrapper {
    justify-content: center;
    order: 0;
  }

  .add-btn {
    order: 1;
  }
}