.section {
  height: calc(100vh - 72px);
}

.home-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 5rem;
  height: 100%;
}

.logo {
  width: 550px;
  height: auto;
}

.title {
  color: var(--text-color);
  font-size: 2.5rem;
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .wrapper {
    height: auto;
  }
}

@media screen and (max-width: 638px) {
  .home {
    padding: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }
}