.btn {
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: background-color ease-in 200ms;
  border-radius: 0.5rem;
  text-align: center;
}

.btn:hover {
  background-color: var(--primary-color-hover);
}

.btn:disabled {
  color: white;
  background-color: #454d59;
  cursor: not-allowed;
}