.btn {
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  text-align: center;
}

.btn:disabled {
  color: white;
  background-color: #454d59;
  cursor: not-allowed;
}