.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-wrapper {
  color: var(--text-color);
}

.logo {
  width: 150px;
}

.links {
  display: flex;
}

.theme-indicator {
  color: var(--text-color);
}