.nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 72px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  animation: slide-down 300ms ease-in-out;
}

.logo-wrapper {
  color: var(--text-color);
}

.logo {
  width: 150px;
}

.links {
  display: flex;
}

.theme-indicator {
  color: var(--text-color);
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 1300px) {
  .menu-btn {
    display: block;
  }

  .links {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 72px;
    right: -220px;
    width: 220px;
    height: calc(100vh - 72px);
    transition: 500ms;
    background-color: var(--background);
    z-index: 5;
  }

  .links-open {
    transform: translate(-220px, 0);
    transition: 300ms;
    box-shadow: 0 28px 32px 0 rgba(31, 38, 135, 0.37);
    overflow: auto;
  }

  .links-close {
    box-shadow: none;
  }
}

@keyframes slide-down {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}