.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0.5rem 1rem;
}

.logo-wrapper {
  color: white;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: white;
}