.modal {
  background-color: var(--container-bg);
  max-width: 432px;
}

.input-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cancel-btn {
  background-color: #6d6d6d;
  color: white;
}

.cancel-btn:hover {
  background-color: #8f8f8f;
}

@media screen and (max-width: 720px) {
  .modal {
    width: 90%;
    padding: 14px;
  }

  .title {
    font-size: 24px;
  }

  .btn-container {
    flex-direction: column;
  }

  .cancel-btn {
    order: 1;
  }
}