.input-wrapper {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: 0;
  font-size: 17px;
  color: var(--text-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  resize: none;
}

.input::placeholder {
  color: transparent;
}

.input:placeholder-shown~.label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--text-color);
  pointer-events: none;
}

.input:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary-color), var(--background));
  border-image-slice: 1;
}

.input:focus~.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--primary-color);
  font-weight: 700;
}

.input:required,
.input:invalid {
  box-shadow: none;
}

.error-message {
  margin-top: 8px;
  color: crimson;
  font-weight: 700;
}