.modal {
  background-color: var(--container-bg);
}

.input-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-container button {
  flex-grow: 1;
}

.cancel-btn {
  background-color: #6d6d6d;
  color: white;
  flex: 1 0 30%;
}

.cancel-btn:hover {
  background-color: #8f8f8f;
}

.edit-btn {
  flex: 1 0 30%;
}

.delete-btn {
  background-color: var(--danger-element);
}

.delete-btn:hover {
  background-color: var(--danger-element-hover);
}

@media screen and (max-width: 720px) {
  .modal {
    width: 90%;
    padding: 14px;
  }

  .title {
    font-size: 24px;
  }

  .btn-container {
    flex-direction: column;
  }

  .cancel-btn {
    order: 3;
  }
}