.table-container {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  border-radius: 8px;
  background-color: var(--container-bg);
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--container-bg);
  color: var(--text-color);
}

.table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
  text-align: center;
  gap: 10px;
}

.table tr:last-child {
  border: none;
}

.table th,
.table td {
  display: flex;
  align-items: center;
  height: 46px;
}

.tbody tr {
  cursor: pointer;
  color: var(--text-color);
}

.tbody tr:hover,
.tbody tr:hover .first-col,
.tbody tr:hover .second-col,
.tbody tr:hover .third-col,
.tbody tr:hover .ticker {
  background-color: var(--hover-element);
  transition: background-color ease 600ms;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

.first-col {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  left: 0px;
  background-color: var(--container-bg);
  justify-content: center;
}

.second-col {
  width: 38px;
  min-width: 38px;
  max-width: 38px;
  left: 32px;
  background-color: var(--container-bg);
}

.second-col>img {
  width: 35px;
}

.third-col {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  left: 70px;
  text-align: left;
  background-color: var(--container-bg);
  overflow: hidden;
}

.fourth-col {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}

.fifth-col {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align: left;
}

.sixth-col {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}

.seventh-col {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}

.eighth-col {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}

.ninth-col {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  text-align: left;
}

.tenth-col {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  text-align: left;
}

@media screen and (max-width: 680px) {
  .third-col {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
  }
}